@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-lg;
  color: black;
  background: white;
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.customButton {
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.customButton::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 40px;
  height: 300%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  transition: all 0.5s ease-in-out;
  transform: rotate(-45deg);
  pointer-events: none;
}

.customButton:hover::before {
  left: 150%;
  transition: all 0.5s ease-in-out;
}

.customButton:hover {
  transform: scale(1.05);
}

.contactBox {
  background-image: url('../../public/contact-box-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(30px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 30px);
}

.hero {
  background-image: url('../../public/herobg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
